:root {
    --color-primary: #920002;
    --color-chrome-medium: #cccccc;
    --grid-max-width: 600px;
    --base-font-size: 18px;
    --base-line-height: 1.5;
}

html {
    font-size: var(--base-font-size);
    line-height: 1.5;
}

.layout-section {
    width: 100%;
    max-width: calc(var(--grid-max-width) + 2rem);
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    display: block;
    width: 300px;
    margin: 0 auto;
    img {
        display: block;
        width: 100%;
    }
}

header.global {
    padding: 2rem 0;
}

.filters {
    margin-bottom: 3rem;
    .search-filter {
        margin-bottom: 1.5em;
    }
}

.search-filter {
    position: relative;
    width: 100%;
    input[type="search"] {
        width: 100%;
        padding: .5em 1em .5em 50px;
        border: 1px solid var(--color-chrome-medium);
        border-radius: 1000px;
        font-size: 1.1rem;
    }
    &:after {
        content: url('/assets/img/loupe.svg');
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 15px;
        top: calc(50% - 13px);
    }
}

.category-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .fieldgroup {
        margin-right: 1em;
        flex-shrink: 0;
        &:last-child {
            margin-right: 0;
        }
    }
    input[type=checkbox] {
        margin-right: .5em;
    }
}

.listing {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }
}

.recipe-card {
    display: block;
    width: 100%;
    color: unset;
    text-decoration: unset;
    border: 1px solid var(--color-chrome-medium);
    border-radius: 15px;
    overflow: hidden;
    transition: all .3s ease;
    &:hover {
        transform: scale(105%);
        box-shadow: 0 0 20px rgba(0,0,0,.2);
    }
    h6 {
        font-size: 1.1rem;
        margin: 1rem;
        font-weight: 400;
    }
    img {
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    
}

.pager {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    > * {
        display: block;
        margin: 0 .25em;
    }
    > a {
        color: var(--color-primary);
    }
}

.recipe-entry {
    header h1 {
        margin: 0 0 .5em 0;
        line-height: 1.2;
    }
    header img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .body {
        margin-bottom: 2rem;
        h2 {
            font-size: 1.3rem;
        }
        ul, ol {
            padding-inline-start: 15px;
        }
    }
}

footer.global {
    padding: 2rem 0;
    .copy {
        margin-bottom: 0;
        font-size: .7rem;
        color: #7e7e7e;
        text-align: center;
    }
}